############################
# Compiled files
############################
*.class

############################
# Build folders
############################
bin/
target/
build/

############################
# Logs
############################
*.log

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# Temporary files
############################
*.tmp
*.bak
*.swp
*~